#section2 {
  .fp-tableCell {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100vh !important;
    position: relative;
    @include xl-min {
      // padding: 100px 0px 0px 0px;
    }
  }
  // .swipper-outer {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  // }

  .fp-slides {
    @include md {
      margin-top: -63px !important;
    }
  }

  .fp-section.fp-table,
  .fp-slide.fp-table {
    @include md {
      margin-top: -30px !important;
    }
  }
}

.section-2 {
  background-size: cover;
  background-repeat: no-repeat;

  .slide-2 {
    .tooltip-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;
      position: absolute;
      top: -100vh;
      left: 0;
      &--visible {
        top: 0vh;
        @include safariMobile {
          // top: 67px;
          top: 15px;
        }
        @include xs {
          // top: 67px;
          top: 15px;
        }
        @include sm {
          top: 67px;
        }
      }

      @include safariMobile {
        align-items: flex-start;
        // top: 100px;
      }

      @include xs {
        align-items: flex-start;
        // top: 100px;
      }
      @include sm {
        align-items: flex-start;
        // top: 100px;
      }
    }

    .tooltip {
      background-color: #fff;
      color: #000;
      max-width: 777px;
      // max-width: 60vw;
      padding: 10px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include xs {
        max-width: 90vw;
        display: flex;
        flex-direction: column;
      }
      @include sm {
        max-width: 90vw;
        display: flex;
        flex-direction: column;
      }
      @include md {
        max-width: 60vw;
        display: flex;
      }
      @include lg {
        max-width: 60vw;
        position: relative;
        left: -95px;
        // -95px = rightnav width
      }

      @include xl-min {
        padding: 50px 55px;
        // transform: scale(0.8);
      }

      @include xxl-min {
        padding: 40px 45px;
        // transform: scale(1.43);
      }

      &--left {
        @include md-min {
          width: 40%;
        }
        @include lg-min {
          width: 30%;
        }
      }
      &--right {
        @include md-min {
          width: 60%;
        }
        @include lg-min {
          width: 70%;
        }
      }

      &--left,
      &--right {
        @include xl-min {
          width: 50%;
        }
      }

      &--left {
        img {
          @include safariMobile {
            display: none;
          }
          @include xs {
            max-height: 160px;
            display: none;
          }
          @include sm {
            max-height: 180px;
          }
        }
      }

      &--right {
        padding-left: 30px;

        @include safariMobile {
          padding: 5px;
        }

        @include xs {
          padding: 5px;
        }
      }

      h2 {
        font-size: 24px;
        text-transform: uppercase;
        line-height: 35px;
        margin-bottom: 20px;
        font-weight: 600;

        @include safariMobile {
          font-size: 19px;
          line-height: 22px;
        }

        @include xs {
          margin-bottom: 5px;
          font-size: 19px;
          line-height: 22px;
        }

        @include sm {
          margin-bottom: 10px;
        }
      }

      p {
        @include xs {
          font-size: 13px;
          line-height: 18px;
        }
        @include sm {
          font-size: 13px;
          line-height: 18px;
        }
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.swiper-pagination__vp-visible {
  display: flex !important;

  @include xl-min {
    display: none !important;
  }
}

.swiper-pagination__vp {
  display: none;
  z-index: 9;
  align-items: center;
  justify-content: center;
  bottom: 45px;
  position: absolute;
  width: 100%;
  padding: 10px;

  @include safariMobile {
    margin-bottom: 10px;
  }

  @include xs {
    margin-bottom: 0;
  }
  @include sm {
    margin-bottom: 30px;
  }

  @include lg {
    margin-left: -95px;
  }

  @include xl-min {
    display: none;
  }

  .swiper-pagination-bullet {
    margin: 3px;
    background: #cacaca !important;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ffffff !important;
  }
}

.iframe__page-visual-production {
  @include sm {
    width: 499px;
    height: 298px;
  }

  @include md {
    width: 499px;
    height: 298px;
  }

  @include lg-min {
    position: relative;
    z-index: 3;
    width: 650px;
    height: 389px;
  }
}

.solution-slide__2 {
  @include safariMobile {
    position: absolute;
    top: 60px;
  }
  @include xs {
    position: absolute;
    top: 60px;
  }
  @include sm {
    position: absolute;
    top: 60px;
  }
}
