.section-2 {
  background-size: cover;
  background-repeat: no-repeat;

  .slide-2 {

    .tooltip-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;
      position: absolute;
      top: -100vh;
      &--visible {
        top: 0vh;
      }
    }

    .tooltip {

      background-color: #fff;
      color: #000;
      max-width: 777px;
      padding: 10px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include xl-min {
        padding: 50px 55px;
      transform: scale(.8);
      }

      @include xxl-min {
        padding: 50px 55px;
      }


      &--left,
      &--right {
        width: 50%;
      }

      &--right {
        padding-left: 30px;
      }

      h2 {
        font-size: 24px;
        text-transform: uppercase;
        line-height: 35px;
        margin-bottom: 20px;
        font-weight: 600;

        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}
