@mixin debugBox() {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 17px;
  background-color: rgb(56, 1, 238);
  color: #fff;
  padding: 5px;
  z-index: 22;
}

body {
  @include xs {
    &:after {
      content: "xs 0 - 575px";
      @include debugBox();
    }
  }

  @include sm {
    &:after {
      content: "sm - 576px - 767px";
      @include debugBox();
    }
  }

  @include md {
    &:after {
      content: "md - 768px - 991px";
      @include debugBox();
    }
  }

  @include lg {
    &:after {
      content: "lg - 992px - 1199px";
      @include debugBox();
    }
  }

  @include xl {
    &:after {
      content: "xl - 1200px - 1339px";
      @include debugBox();
    }
  }

  @include xxl {
    &:after {
      content: "xxl - 1440px - 1919px";
      @include debugBox();
    }
  }

  @include xxxl {
    &:after {
      content: "xxxl  > 1920px ";
      @include debugBox();
    }
  }
}