@import "./base/reset";
@import "./base/fonts";
@import "./base/colors";
@import "./base/rwd";
//@import "./base/debug";

@import "./layouts/default";
@import "./libs/fullpage";
// @import './slider.css';

@import "./sections/2";
@import "./other/hamburgers";
@import "./other/checkbox";
@import "./other/scrollbar";

@import "./sections/careers";

@import "./pages/single-job";

.img-fluid {
  max-width: 100%;
  height: auto;
}

.video-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.fade {
  backface-visibility: hidden;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}

video {
  visibility: visible;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.fp-controlArrow.fp-prev {
  margin: 0px 30px;
  margin-top: -20px;
  left: 0;
  border: none;
  width: 32px;
  height: 32px;
  background: url("~assets/img/arrow-left.svg") no-repeat;
  cursor: pointer;
}

.fp-controlArrow.fp-next {
  margin: 0px 30px;
  margin-top: -20px;
  right: 0;
  border: none;
  width: 32px;
  height: 32px;
  background: url("~assets/img/arrow-right.svg") no-repeat;
  cursor: pointer;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  &:hover {
    opacity: 0.8;
  }
}

div.indicator {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  // position: relative;
  z-index: 1;

  @include xs {
    position: absolute;
    left: 30vw;
    top: 3vh;
  }
  @include sm {
    position: absolute;
    left: 30vw;
    top: 10vh;
  }
  @include md {
    position: absolute;
    left: 30vw;
    top: 10vh;
  }
  @include lg {
    position: absolute;
    left: 30vw;
    top: 10vh;
  }

  @include xl-min {
    position: absolute;
    left: 20vw;
    top: 30vh;
  }

  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
  }

  &::after {
    content: "MORE";
    position: absolute;
    bottom: -30px;
    left: -6px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.btn-outline-white {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 24px;
  color: #fff;
  display: inline-block;
  min-width: 210px;
  text-align: left;

  @include safariMobile {
    padding: 10px 10px;
    font-size: 14px;
    margin-bottom: 60px;
  }

  @include xs {
    padding: 10px 10px;
    font-size: 14px;
    margin-bottom: 60px;
  }

  &:hover {
    background-color: #fff;
    color: #5d3e3e;
  }

  &__solutions {
    min-width: 280px;
    text-align: center;

    @include safariMobile {
      display: none;
      padding: 10px 10px;
      margin-bottom: 60px !important;
    }

    @include xs {
      display: none;
      padding: 10px 10px;
      margin-bottom: 60px !important;
    }

    @include md {
      padding: 10px 20px !important;
      font-size: 22px !important;
    }
  }
}

.btn {
  cursor: pointer;
}

// body {
//   &:before {
//     display: none;
//     content: url("~assets/img/logo-main.svg");
//     align-items: center;
//     justify-content: center;
//     color: #fff;
//     width: calc(100% -95px);
//     height: 100px;
//     position: absolute;
//     z-index: 3;
//     left: 50%;
//     top: 0;
//     transform: translate(-50%);

//     @include lg-min {
//       display: flex;
//     }
//   }
// }

*:focus {
  outline: none;
}

.arrow-bottom-next-slide {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 22;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &--inner {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    transition: all 0.1s ease-in;
    animation: arrowBottom 2s ease-in-out infinite;
    animation-direction: alternate;
  }

  @keyframes arrowBottom {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.9);
      opacity: 0.8;
    }
  }
}

.fullpage-main-wrapper__handle-mobile {
  @include xs {
    position: relative;
    top: -9px;
  }
  @include sm {
    position: relative;
    top: -9px;
  }
  @include md {
    position: relative;
    top: -9px;
  }
}
