.single-job-content-wrapper {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  @include md-min {
    margin-top: 24px;
  }
}

.layout__single-job {
  .single-job-content-wrapper {
    .single-job--content {
      h1,
      h2,
      h3,
      h4,
      h5 {
        margin-bottom: 20px;
      }
    }

    p {
      margin-bottom: 15px;
    }
  }
}
